<!-- state_cities format: [ [state, city, city], [state, city, city], ... ] -->
<% state_cities = [
                    ["New York", "New York City", "Albany"],
                    ["Connecticut", "Stamford", "Hartford", "Norwalk"],
                    ["New Jersey", "Jersey City", "Trenton"]
                  ] %>


<h2>Cities and States</h2>
<p>
  <ul>
    <% state_cities.each do |element| %>
      <h4><%= element.first %></h4>
      <ul>
      <% element.drop(1).each do |inner_element| %>
        <li><%= inner_element %></li>
      <% end %>
      </ul>
    <% end %>
  </ul>
</p>
